# [submodule "themes/ananke"]
# 	path = themes/ananke
# 	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt
